*{
	box-sizing: border-box;
}

body{
	font-family:sans-serif ;
	height: 100vh;
	background: #444;

	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
/*	width: 80%;*/

	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	position: relative;

}

.controls{
	width: 80%;

/*	width: 100%;*/
	background: #222;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	padding:12px 0 ;
} 

.ctrl-btn{

	background-color: transparent;
	color: #fff;

	border: 0;
	outline: none;
	cursor: pointer;

	margin: 0 5px;

}

.progress{
	width: 70%;
	height: 4px;

	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;

	margin-right: 5px;
}

.progress-bar{
	width: 50%;
	height: 100%;
	background: steelblue;
	border-radius: 5px;

}

.volumeprogress{
	margin: 0 1px;
}

#play{
	color: steelblue;
}

#stop{
	color: tomato;
}

.displaytime{
	padding-right: 10px;
}

.openfullscreen,.closefullscreen{
	cursor: pointer;
}

.closefullscreen{
	display: none;
}

.displaytime{
	margin-left:10px ;
}

.pannel{
	background-color: #000;
	color: #fff;

	position: absolute;
	left: 10%;
	top: 50%;

	padding: 0 30px;

	transition: all .5s ease-out;

	z-index: -1;
}

.container:hover .pannel{
	top: 100%;
}




